<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	
	
	<nav><div class="container">
	
		<h1><a href="./">{{ site.title }}</a></h1>
		
	<ul id="nav">
		
		{% for item in pages %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endfor %}
	
	</ul>
		
	</div></nav>
	
<div id="page">			
	
	<main>
		
		
	{% for item in posts %}
        
        <section>
            <div class="container">
            {{item.body|raw}}
            </div>
        </section>
		
	{% endfor %}	
		
	</main>
	
	
</div>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>